.feature-card-container {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.feature-card-container1 {
  flex: 0 0 auto;
  width: auto;
  height: DoubleUnit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.feature-card-text {
  font-size: 40px;
  margin-top: var(--dl-space-space-unit);
  font-family: Inter;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.feature-card-image {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover;
}
.feature-card-text1 {
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.feature-card-root-class-name {
  margin: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .feature-card-text {
    font-size: 30px;
  }
  .feature-card-text1 {
    font-size: 13px;
  }
}
@media(max-width: 767px) {
  .feature-card-text {
    font-size: 25px;
  }
  .feature-card-text1 {
    font-size: 10px;
  }
}
@media(max-width: 360px) {
  .feature-card-text {
    font-size: 40px;
  }
  .feature-card-text1 {
    font-size: 14px;
  }
}
