.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.store-banner-image {
  width: 135px;
  object-fit: cover;
}
.store-banner-image1 {
  width: 172px;
  height: 39px;
  object-fit: cover;
  padding-left: var(--dl-space-space-doubleunit);
}
